<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chris.discgolf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ChooseCourse"
            android:label="@string/title_activity_Choose_Course"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".NewCourse"
            android:label="Add New Course" />
        <activity
            android:name=".ChoosePlayers"
            android:label="Add Players"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".SplashPageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ApplicationSettings" />
        <activity
            android:name=".PlayGame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestingActivity"
            android:label="Settings" />
        <activity
            android:name=".StatisticsActivity"
            android:label="History" />
        <activity android:name=".GameHistoryActivity" />
        <activity android:name=".SelectedGameStatisticsActivity"></activity>
    </application>

</manifest>